body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0;
    height: 100vh;
}

.main {
    text-align: center;
}

.grafico-container {
    margin-bottom: 20px;
}

.grafico-title {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}


button{
    height: 5em;
    width: 30vw;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .50rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: white;
    border-color: white;
    
  }
  button:hover {
    color: #fff;
    background-color: rgb(39, 39, 241);
    border-color: rgb(39, 39, 241);
  }  